.heading{
  text-align: center;
  /* background-color: rgb(218, 214, 214); */
  padding: 10px;
  margin: 8px 0px 40px 0px;
  border-bottom: 2px solid black;
}
.answer{

}
.msgFalse{
  background-color: #ff8d86;
}
p{
  background-color: rgb(111, 211, 111);
}




/* Footer customized by me */



.my-footer{
  /* margin-top: 70px; */
  margin: 50px;
  display: flex;
  flex-wrap:wrap-reverse;
  justify-content:center;
  align-items:center;

}
.part2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  padding: 50px;
   /* margin-left: 40px; */
  /* float: left; */
}
.mr-de-haviland-regular {
  font-family: "Mr De Haviland", cursive;
  font-weight: 600;
  font-style: normal;
}
.name{
  font-size: 25px;
  margin-left: 20px;
}
.bor{
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction:column; */
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.626);
  /* border: none; */
  border-radius: 10px;
  padding:0px 4px 4px 0px;
  /* text-align: center; */
  margin: 4px;
}

.logo{
  width: 25px;
}
img{
  width: 48px;
  /* border: 1px solid red; */
  border-radius: 50%;
}


a{
  
  text-decoration: none;
  color: rgba(0, 0, 0, 0.729);
}
